.card {
    position: relative;
    width: 300px;
    height: 250px;
    background: var(--primary-color);
    border-radius: 10px;
    padding: 5px;
    transition: 0.4s;
}
.card:hover {
    -webkit-box-shadow: 1px 3px 8px 4px rgba(34, 60, 80, 0.61);
    -moz-box-shadow: 1px 3px 8px 4px rgba(34, 60, 80, 0.61);
    box-shadow: 1px 3px 8px 4px rgba(34, 60, 80, 0.61);
    transform: scale(105%);
}
.img {
    object-fit: contain;
}
.btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: none;
    background: none;
    border: none;
}
.like {
    width: 30px;
    height: 30px;
}
.card:hover .btn {
    display: block;
}