:root {
    --primary-color: #2196F3;
    --selected-color: #1E88E5;
    --text-color: white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
.content {
    margin: 100px 50px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 60px;
}
.error {
    text-align: center;
    color: red;
}