.navbar {
    background: var(--primary-color);
    padding: 30px 50px;
    display: flex;
    gap: 20px;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100dvw;
}
.link {
    text-decoration: none;
    color: var(--text-color);
}